#AmuBackDiv {
    height: 120;
    width: 120;
    top: 50%;
    position: fixed;
    background-color: rgba(134, 139, 139,0.5);
    margin-top: -120px;
    z-index: 20000;
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/back_white_48dp@2x.png');
    background-repeat: no-repeat;
    
    background-position: center;
}
